.container {
  display: flex;
  flex-direction: row;
  gap: 45px;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.link {
  padding: 10px 30px;
  color: white;
}
